.headerWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
    background-color: #1b1b1b;
    border-bottom: 1px solid #636363;
}